name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true

    - name: Set up Python ${{ matrix.python-version }}
      run: uv python install ${{ matrix.python-version }}

    - name: Install dependencies
      run: uv sync

    - name: Run tests with coverage
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
        JAX_ENABLE_X64: True
      run: |
        uv run pytest -n auto -x --doctest-modules --junitxml=junit/test-results-${{ matrix.python-version }}.xml --cov=. --cov-report=xml --cov-report=html
        uv run coverage-badge -o coverage.svg -f

    - name: Upload coverage badge
      uses: exuanbo/actions-deploy-gist@v1
      with:
        token: ${{ secrets.GIST_SECRET }}
        gist_id: 12ba425b48b5fe95dce24fba21bcbf70
        file_path: coverage.svg
        file_type: text
